<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    @* Top Navbar *@
    <nav class="navbar fixed-top navbar-dark bg-dark text-white-50">
        <span class="navbar-brand mb-0 h1 text-white-50" href="#">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#RightNavC" aria-controls="RightNavC" aria-expanded="false" aria-label="Toggle RightBar">
            <span class="navbar-toggler-icon"></span>
            </button>
            SocialNetwork
        </span>
        @if (User.Identity.IsAuthenticated) {
			<ul class="nav">
				<li class="nav-item nav-link">
					<a class="" href="#"><i class="far fa-bell text-white-50"></i></a>
					<span class="badge badge-pill badge-danger notification">3</span>
				</li>
				<li class="nav-item nav-link">
					<a href="#"><i class="far fa-envelope text-white-50"></i></a>
					<span class="badge badge-pill badge-danger notification">1</span>
				</li>
				<li class="nav-item"><a class="nav-link" href="#"><i class="far fa-user text-white-50"></i></a></li>
			</ul>
		}
		else
		{
			<ul class="nav">
				<li class="nav-item">@Html.ActionLink("Register", "UserRegister", "Login", null , new { @class = "nav-link text-white-50" })</li>
			</ul>
		}
    </nav>
		
    @* SideBar *@
    <div class="container row">
        <div class="col-2 bg-dark sidebar position-fixed collapse navbar-collapse" id="RightNavC">
            <ul class="list-group list-group-flush text-white-50">
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fas fa-home text-white-50"></i>
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "text-white-50" })
                    </div>
                    <span class="badge badge-warning badge-pill">NEW</span>
                </li>
                <li class="list-group-item bg-dark">
                    <i class="fas fa-tachometer-alt text-white-50"></i>
                    @Html.ActionLink("Dashboard", "About", "Home", null, new { @class = "text-white-50" })
                </li>
            </ul>
            @* Footer *@
            <footer class="fixed-bottom footer">
                <ul class="list-group list-group-flush">
					<li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
						<i class="far fa-bell text-white-50"></i>
						<i class="far fa-envelope text-white-50"></i>
						<i class="far fa-user text-white-50"></i>
						<i class="fas fa-sign-out-alt text-white-50"></i>
					</li>
                </ul>
            </footer>
        </div>
        <div class="container col offset-3 content">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
