@model SocialNetwork.ViewModels.ViewModel
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<hr />

<div class="row">
    <div class="col-sm-8">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <a href="@Url.Action("ManageUsers", "Admin")">Manage Users</a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("ShowUsers", "Admin")">Show All Users</a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("AdminRegister", "Admin")">Add New Admin</a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("ViewStatistics", "Admin")">View Statistics</a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("AdminComplaints", "Admin")">View Complaints</a>
                @if (Model.complaints.Count != 0)
                {
                    <span class="badge badge-danger">@Model.complaints.Count</span>
                }
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("SendMessage", "Message")">Send Private Message</a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("ViewMessages", "Message")">View Messages</a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("SendGlobalMessage", "Admin")">Send Global Message</a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("FilterSpam", "Admin")">Filter Spam Messages</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        @if (Model.teachers != null && Model.teachers.Count != 0)
        {
            <h2>Pending Teachers</h2>
            <table class="table table-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>ID</th>
                    <th>Authrize</th>
                </tr>

                @foreach (var teacher in Model.teachers)
                {
                    <tr>
                        <td>@teacher.name</td>
                        <td>@teacher.email</td>
                        <td>@teacher.id</td>
                        <td>
                            <form action="SetAuth" method="post">
                                <input name="auth" type="hidden" value="@teacher.email" />
                                <input type="submit" class="btn btn-outline-success" value="Authorize" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

            <br />
