
@model SocialNetwork.Models.User

@{
    ViewBag.Title = "AdminRegister";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<h2>Admin Register</h2>
<hr />

@using (Html.BeginForm("addAdmin", "Admin", FormMethod.Post))
{
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.email, new { @class = "form-control", id = "inputEmail", type = "email" })
            <small class="text-danger">@Html.ValidationMessageFor(x => x.email)</small>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            @Html.PasswordFor(m => m.password, new { @class = "form-control", id = "inputPassword" })
            <small class="text-danger">@Html.ValidationMessageFor(x => x.password)</small>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.name, new { @class = "form-control", id = "inputName" })
            <small class="text-danger">@Html.ValidationMessageFor(x => x.name)</small>
        </div>
    </div>
    

    <input id="role" name="role" type="hidden" value="Admin" />
    <input class="btn btn-outline-primary" id="submit" type="submit" value="Add User" />
    <h4 class="text-danger">@ViewBag.message</h4>
}

