@model SocialNetwork.ViewModels.ViewModel

@{
    ViewBag.Title = "ViewStatistics";
}
@{ 
    int num = @Model.users.Count - @Model.students.Count - @Model.teachers.Count;
}
<h2>ViewStatistics</h2>
<hr />
<div class="container">
    <h4>Users</h4>
    Students in system: <span class="text-info"><b>@Model.students.Count</b></span><br />
    Teachers in system: <span class="text-info"><b>@Model.teachers.Count</b></span><br />
    Admins in system: <span class="text-info"><b>@num</b></span><br />
    Total users in system: <span class="text-info"><b>@Model.users.Count</b></span><br />
    <hr />
    <h4>Others</h4>
    Courses in system: <span class="text-info"><b>@Model.courses.Count</b></span><br />
    Complaints in system: <span class="text-info"><b>@Model.complaints.Count</b></span><br />
</div>
