@model SocialNetwork.ViewModels.ViewModel

@{
    ViewBag.Title = "ShowCourses";
}

<h2>Show Courses</h2>
<hr />
@if(Model.courses.Count == 0)
{
    <h4 class="text-info">No courses in database.</h4>
}
@foreach(var course in Model.courses)
{
    <div class="card alert-info">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-1">
                    @if (Model.student.isEnrolled(course.id))
                    {
                        <a href='@Url.Action("Course","Student",new RouteValueDictionary(new {id = course.id }))'><b>#@course.id</b></a>
                    }
                    else
                    {
                        <b>#@course.id</b>
                    }
                </div>
                <div class="col">
                    <b>Name:</b> @course.name
                </div>
                <div class="col">
                    <b>By:</b> @course.teacher.name
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
                <b>Rating:</b> @course.avgRating
            </p>
            <p class="card-text">
                <b>Books:</b> @course.books
            </p>
            <p class="card-text">
                <b>Price:</b> @course.price &#8362;
            </p>


            @if (Model.student.isEnrolled(course.id) && course.AssistantEmail == "")
            {
            <form action="RegisterAssistant" method="post">
                <input type="hidden" name="assistantEmail" value="@User.Identity.Name" />
                <input type="hidden" name="courseId"       value="@course.id" />
                <input type="submit" class="btn btn-outline-info" value="Apply Assistant" />
            </form>
            }
            else if (course.AssistantEmail != "")
            {
                <p class="card-text">
                    <b>Assistant:</b> @course.AssistantEmail @if (!course.AssistantAccept) { <span>[Pending]</span>}
                </p>
            }
            else
            {
                <p class="card-text">
                    <b>Assistant: </b> No Assistant
                </p>
            }


            </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <b>Tags:</b> @course.tags
                </div>
                <div class="col text-right">
                    @if (!Model.student.isEnrolled(course.id))
                    {
                        <form action="EnrollCourse" method="post">
                            <input name="enroll" type="hidden" value="@course.id" />
                            <input type="submit" class="btn btn-outline-info" value="Enroll" @course.Enrolled(Model.student.id) />
                        </form>
                    }
                    else
                    {
                        <small class="text-info"><b>Enrolled</b></small>
                        using (Html.BeginForm("RatingRegister", "Rating", FormMethod.Post))
                        {
                            <input name="inputCourseId" type="hidden" value="@course.id" />
                            <input type="submit" class="btn btn-outline-info" value="Add Rating" />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <br />
}