@model SocialNetwork.ViewModels.ViewModel

@{
    ViewBag.Title = "ViewCourses";
}

<h2>View Courses</h2>
<hr />

@foreach (var course in Model.courses)
{
    <div class="card alert-info">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-1">
                    <b>#@course.id</b>
                </div>
                <div class="col">
                    <b>Name:</b> @course.name
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
                <b>Rating:</b> @course.avgRating
            </p>
            <p class="card-text">
                <b>Books:</b> @course.books
            </p>
            <p class="card-text">
                <b>Price:</b> @course.price &#8362;
            </p>

            <p class="card-text">
                <b>Assistant:</b>
                @if (course.AssistantEmail != "")
                {
                    <span>@course.AssistantEmail </span>
                    if (!course.AssistantAccept)
                    {
                        <a href="@Url.Action("ApproveAssistant", "Teacher", new RouteValueDictionary(new { id = course.id }))">[Approve]</a>
                    }
                }
                else
                {
                    <span>No Assistant</span>
                }
            </p>
            @*<p class="card-text">*@
                <b>Students:</b> <small> (click student's name to update progress) </small>
                @foreach (var student in course.students)
                {
                                 <form method="post" action="UpdateStudentProgress">
                                     <input type="hidden" name="studentEmail" value="@student.email" />
                                     <input type="hidden" name="courseId" value="@course.id" />
                                     <button type="submit" id="progressButton">@student.name</button><span>,</span>
                                 </form>  
                }
            @*</p>*@
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <b>Tags:</b> @course.tags
                </div>
                <div class="col text-right">
                    <form action="EditBooks" method="post">
                        <input name="courseID" type="hidden" value="@course.id" />
                        <input type="submit" class="btn btn-outline-info" value="Edit Books" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
}

<style>
    #progressButton {
        background: none !important;
        color: inherit;
        border: none;
        padding: 0 !important;
        font: inherit;
    }
</style>